html{
    background-color: pink;  
}

body{
    padding: 50px 15px 10px;
}
.container{
    padding: 0px 50px;
    display: flex;
    flex-direction: column;
}

.general{
    color: black;
    background-image: url(img/img9.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: right bottom, left top;
}

.title{
    font-family: "Sofia", sans-serif;
    text-align: center;
}

.T1{
    color: #DEB887;
    font-size: 40px;
    text-shadow: 2px 2px;
}

.T2{
    color: 	steelblue;
    font-size: 40px;
    text-shadow: 2px 2px;
}

.name{
    text-align: center;
    color: #DAA520;
    font-size: 25px;
    font-style: italic;
}

.image{
    width: 100%;
    position: relative;
}

.image .gambar{
    /* border: 1px solid #ddd; */
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.body{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    font-size: 15px;
}

.message{
    display: grid;
    grid-template-rows: 12px 15px 35px;
    justify-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    font-size: 15px;
}

.from{
    text-align: right;
    font-family: "Sofia", sans-serif;
    font-size: 20px;
    font-style: italic;
}

@media (min-device-width: 700px) {
    body {
        padding: 40px 40px;
      }
    
    .container {
        height: 90vh;
    }

    .general{
        flex-direction: row;
    }
    
    /* .T1{
        color: #DEB887;
        font-size: 80px;
        text-shadow: 2px 2px;
    }
    
    .T2{
        color: 	steelblue;
        font-size: 80px;
        text-shadow: 2px 2px;
    }

    .image{
        width: 100%;
        position: relative;
    }
    
    .image .gambar{
        /* border: 1px solid #ddd; */
        /* height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .name{
        font-size: 35px;
    }

    .body{
        font-size: 20px;
    }
    
    .message{
        font-size: 20px;
    }
    
    .from{
        font-size: 25px;

    } */ 
}