html{
    background-color: pink;  
}

.container{
    padding: 50px 100px;
}

.general{
    color: black;
    background-image: url(img/img9.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: right bottom, left top;
    display: flex;
    flex-direction: column;
}

.title{
    font-family: "Sofia", sans-serif;
    text-align: center;
}

.T1{
    color: #DEB887;
    font-size: 50px;
    text-shadow: 2px 2px;
}

.T2{
    color: 	steelblue;
    font-size: 50px;
    text-shadow: 2px 2px;
}

.name{
    text-align: center;
    color: #DAA520;
    font-size: 30px;
    font-style: italic;

}

.image{
    width: 100%;
    position: relative;
}

.image .gambar{
    /* border: 1px solid #ddd; */
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.body{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}

.message{
    display: grid;
    grid-template-rows: 12px 15px 35px;
    justify-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}

.from{
    text-align: right;
    font-family: "Sofia", sans-serif;
    font-size: 18px;
    font-style: italic;
}

@media (min-device-width: 550px) {
    .general{
        flex-direction: row;
    }
}